<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentrelief">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="icon,label">
        <activity
            android:name=".ui.user.UserFormActivity_"
            android:label="@string/title_activity_user_form"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.register_panel.RegisterPanelActivity"
            android:label="@string/title_activity_register_panel"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RegisterActivity_"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity_"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".ui.relief_request.ReliefRequestDonationListActivity_"
            android:label="@string/title_relief_request_donation_list_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.relief_request.ReliefRequestListActivity_"
            android:label="@string/title_activity_student_relief_request_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.volunteer.VolunteerPanelActivity_"
            android:label="@string/title_activity_volunteer_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.student.StudentFormActivity_"
            android:label="@string/title_activity_student_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.donner_donation.DonnerDonationFormActivity_"
            android:label="@string/title_activity_donner_donation_form"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.donation.DonationFormActivity_"
            android:label="@string/title_activity_donation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.volunteer.VolunteerFormActivity_"
            android:label="@string/title_activity_volunteer_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.donner.DonnerFormActivity_"
            android:label="@string/title_donner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.relief_request.ReliefRequestDonationFormActivity_"
            android:label="@string/title_student_relief"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.relief_task.ReliefTaskFormActivity_"
            android:label="@string/title_relief_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.student.StudentPanelActivity_"
            android:label="@string/title_student_panel"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>